@media screen and (max-width: 767px) {
    .cards{
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {

    #menu {
        position: absolute;
        right: 2%;
        top: 23%;
        display: block;
    }

    .home-container {
        width: 80%;
    }

    #Heading {
        font-size: 5rem;
    }
}